h1{
    color: rgb(225, 78, 80);
    text-align: center;
    border-bottom: 1px dashed rgba(0, 0, 255, 0.8);
    width: 300px;
    margin: 50px;
    padding: 10px;
    background-color:rgba(249,212,35,0.5);
    border-radius: 20px;
    box-shadow:5px 5px rgba(0,0,0,0.5);
}
    P{
        color: rgb(225, 78, 80);
        font-size: 1.5em;
        text-indent: 1.0em;
        text-align: justify;


    }
    
